:root{
    --dark: rgb(44,48,52);
    --darker: rgb(33,37,41);
    --light: rgb(235, 235, 235);
    --lighter: rgb(223,223,223);

    --fg-active: rgb(207, 207, 207);
    --bg-active: rgb(235, 235, 235);
    --text-active: black;

    --glow: rgba(255,255,255,0.3);
    --border-radius: 6px;

    --show: none;
    --show-td: none;
    
    --mx: 0px;
    --my: 0px;
}

.role{
    display: var(--show) !important;
}

td.role, th.role{
    display: var(--show-td) !important;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-button{
   background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--darker);
}

.monospace{
    font-family: monospace !important;
}

body,html{
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-active);
    color: var(--text-active) !important;
}

.tr{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
.tr:hover::before{
      opacity: 1;
      
  }
  
.tr::before, .trh::before{
      transition: 600ms;
      border-radius: inherit;
      content: "";
      width: inherit;
      height: inherit;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: transparent;
      background: radial-gradient(circle at var(--mx) var(--my), var(--glow) 0%, transparent 18%);
      background-size: 300%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 2;
      pointer-events:none;
  }
  

td{
    z-index: 4 !important;
}

td i, td p{
    z-index: 6!important;
    position: relative;
    word-break: normal;
}

a{
    color: var(--text-active);
}

td p{
    padding: 1px;
    margin: 1px;
}

#navbar, br{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

i{
    cursor: pointer;
}

.transition {
    transition: 200ms;
}


.pointer{
    cursor: pointer;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.4);
    animation: fade-in 700ms;
}

dialog{
    border: none;
    animation: fade-in 700ms;
    background-color: var(--bg-active) !important;
    color: var(--text-active);
    border-radius: var(--border-radius  );
}

dialog button{
    border: none;
}

#postPopup{
    min-width: 500px;
    max-width: 500px;
    color: var(--text-active);
}

li{
    word-break: break-all;

}
li p{
    margin: 0px;
    padding: 0px;

}

thead{
    border-bottom: 1px gray solid;
}

table, dialog{
    border-radius: var(--border-radius) !important;
}
table{
    overflow: hidden !important;
}

textarea{
    width: 100%;
}
p, i{
    transition: none !important;
}

/*doc*/

#doc-nav-menu{
    background-color: var(--fg-active);
    border-radius: calc(var(--border-radius)*2);
    border: 1px solid rgba(0,0,0,0.125);
    max-height: fit-content !important;
    position: fixed;
    width: 300px;
}

#doc-main-content{
    position: relative;
    left: 315px;
}

.row{
    max-width: 100vw !important;
    margin: auto;
}
.row p{
    word-break: normal;
}

code{
    font-family: monospace !important;
    padding: 5px;
    display: block;
    white-space: pre-wrap;
    background-color: var(--fg-active);
    border-radius: calc(var(--border-radius)*2);
    max-width: fit-content;
    border: 1px solid rgba(0,0,0,0.125);
}

.docs-list li{

    background-color: var(--fg-active) !important;
    color: var(--text-active) !important;
}

h3{
    word-break: break-all;
}

progress.visually-hidden{
    max-width: 10% !important;
}

progress{
    width: 100%;
    transition: 2s;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.nav-space{
    display: inline;
}

.text-center{
    text-align: center !important;
    margin: auto !important;
}

@media (max-width: 500px){
    .container{
        width:  99% !important;
        padding: 0px;
        margin: auto;
    }

    #navbar{
        font-size: 9pt;
    }

    #navbar > *{
        float: none !important;
        padding: 1px;
        margin: 1px;
    }

    #navbar > .float-end{
        float: right !important;
    }

    #navbar input{
        position: relative;
        top: 3px;
    }

    .nav-space {
        display: none !important;
    }
    
    table{
        font-size: 9pt;
    }

    .tr::before, .trh::before{
        opacity: 0 !important;
    }

    #postPopup{
        min-width: 200px;
        max-width: none;
    }
}

@media (max-width: 980px) {
    #doc-nav-menu{
        position: static !important;
        width: 100%;
    }
    
    #doc-main-content{
        position: static !important;
        left: 0px;
    }
}