:root{
    --dark: rgb(44,48,52);
    --light: rgb(235, 235, 235);
    --bg-active: rgb(235, 235, 235);
    --text-active: black;
    --glow: rgba(255,255,255,0.3);

    --mx: 11px;
    --my: 300px;
}

body,html{
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}

body{
    background-color: var(--bg-active);
    color: var(--text-active) !important;
}

.tr{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
.tr:hover::before{
      opacity: 1;
      
  }
  
.tr::before, .trh::before{
      transition: 600ms;
      border-radius: inherit;
      content: "";
      width: inherit;
      height: inherit;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: transparent;
      background: radial-gradient(circle at var(--mx) var(--my), var(--glow) 0%, transparent 18%);
      background-size: 300%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 2;
      pointer-events:none;
  }
  

td{
    z-index: 4 !important;
}

td i, td p{
    z-index: 6!important;
    position: relative;
    word-break: normal;
}

td p{
    padding: 1px;
    margin: 1px;
}

#navbar, br{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

i{
    cursor: pointer;
}

.transition {
    transition: 200ms;
}


.pointer{
    cursor: pointer;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.4);
    animation: fade-in 700ms;
}

dialog{
    border: none;
    animation: fade-in 700ms;
    background-color: var(--bg-active) !important;
    color: var(--text-active);
    border-radius: 6px;
}

dialog button{
    border: none;
}

textarea{
    width: 100%;
}
p, i{
    transition: none !important;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.nav-space{
    display: inline;
}

@media (max-width: 500px){
    .container{
        width:  99% !important;
        padding: 0px;
        margin: auto;
    }

    #navbar{
        font-size: 9pt;
    }

    #navbar > *{
        float: none !important;
        padding: 1px;
        margin: 1px;
    }

    #navbar input{
        position: relative;
        top: 3px;
    }

    .nav-space {
        display: none;
    }
    
    table{
        font-size: 9pt;
    }

    .tr::before, .trh::before{
        opacity: 0 !important;
    }
}