<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>API docs</title>
</head>
<body onload="theme()">
    <div class="container">
        <br>    
        <div id="navbar" class="container-fluid">
            <i onclick="setTheme()" style="float: right !important;" class="fa-sharp fa-solid fa-circle-half-stroke float-end"></i>
        </div>
        <br>    
        <div class="row">
            <div class="col-lg-3 col-12">
                <a role="button" data-toggle="user" data-toggle="collapse" aria-expanded="false" aria-controls="user">User</a>
                <div class="collapse" id="user">Session</div>
            </div>
            <div class="col-lg-9 col-12">a</div>
        </div>
    </div>

    <script src="../static/css/style.js"></script>
</body>
<script src="https://kit.fontawesome.com/e2b9ce2b9c.js" crossorigin="anonymous"></script>
</html>