<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Házi</title>
    <script src="../static/scripts/socket.io.min.js"></script>
</head>
<body onload="isLoggedIn()">
    <!--upload popup-->
    <dialog id="uploadPopup" class="">
        <form action="javascript:void(0)" method="post" enctype="multipart/form-data" id="uploadForm" class="needs-validation">
            <h4>Feltöltés</h4>

            <label class="form-label" for="leiras">Leírás: </label>
            <textarea  class="form-control needs-validation" name="leiras" id="leiras" cols="45" rows="5" required></textarea>
            <br>
            <label class="form-label" for="hatarido">Határidő: </label>
            <input  class="form-control needs-validation" type="date" name="hatarido" id="hatarido" required>
            <hr>
            <label class="form-label" for="file">Csatolt fileok (nem kötelező): </label>
            <input class="form-control" type="file" name="file" id="file" multiple>
            <progress class="w-100 mx-auto visually-hidden" value="2" max="100" id="uploadProgress"></progress>

            <br>
            <label class="btn btn-danger" onclick="closeUploadPopup()">Mégse</label>
            <input onclick="upload()" type="submit" value="Kész" class="btn btn-success">
        </form>
    
        
    </dialog>

    <!--delete popup-->
    <dialog id="deletePopup">
        <div class="card-body">
            <h4 class="card-title">Törlés</h4>
            <p class="card-teyt">Biztosan törlöd?</p>
            <button class="btn btn-danger" onclick="closeDelPopup()">Nem</button>
            <button class="btn btn-success" id="delBtn" onclick="del(this)">Igen</button>
        </div>
    </dialog>

    <!--edit popup-->
    <dialog id="editPopup" class="">
        <form action="javascript:void(0)" method="post" enctype="multipart/form-data" id="editForm" class="needs-validation">
            <h4>Szerkesztés</h4>
        
            <label class="form-label" for="leiras">Leírás: </label>
            <textarea  class="form-control" name="eleiras" id="eleiras" cols="45" rows="5" required></textarea>
            <br>
            <label class="form-label" for="ehatarido">Határidő: </label>
            <input  class="form-control" type="date" name="ehatarido" id="ehatarido" required>
            <hr>
            <input class="form-check-input" type="checkbox" value="on" name="deleteFile" id="deleteFile">
            <label class="form-check-label" for="deleteFile">Fileok Törlése</label>
            
            <br>
            <label class="form-label" for="efile">Csatolt fileok (nem kötelező): </label>
            <input class="form-control" type="file" name="efile" id="efile" multiple>
            <progress class="w-100 mx-auto visually-hidden" value="2" max="100" id="editProgress"></progress>
            <input type="number" readonly id="eid" name="eid" style="overflow: none; height: 0px; user-select:none; opacity: 0; cursor: default;">
            <br>
            <label class="btn btn-danger" onclick="closeEditPopup()">Mégse</label>
            <input onclick="edit()" id="editBtn" type="submit" value="Kész" class="btn btn-success">
        </form>    
    </dialog>

    <!--Post popup-->
    <dialog id="postPopup" class="">
      
        <h4>Feladat</h4>
        <p id="phatarido" class="text-muted"></p>
        <h6 id="pleiras"></h6>
        <hr>
        <h5>Fileok</h5>
        <ul id="pfileok" class="list-group">

        </ul>
        <br>
        <label class="btn btn-danger" onclick="closePostPopup()">Bezár</label>
    
    </dialog>

    <dialog id="loginPopup" class="">
        <h4>Bejelentkezés</h4>
        
        <form id="loginForm" action="javascript:void(0)" enctype="multipart/form-data" method="post">
            <p id="login-alert" class="alert alert-danger visually-hidden">Hibás felhasználónév vagy jelszó!</p>
            <label class="form-label" for="username">Felhasználónév</label>
            <input class="form-control" id="username" name="username" type="username" placeholder="Felhasználónév">
            <label class="form-label" for="password">Jelszó</label>
            <br>
            <input class="form-control" id="password" name="password" type="password" placeholder="Jelszó">
           
        </form>
        <br>
        <label class="btn btn-danger" onclick="closeLoginPopup()">Mégse</label>
        <label class="btn btn-success" onclick="login()">Bejelentkezés</label>
    
    </dialog>


    <br>
    <div class="container w-100">
        <!--"navbar"-->
        <div id="navbar" class="container-fluid">
            <p class="role pointer float-start text-decoration-underline" onclick="openUploadPopup()">Hozzáadás</p>
            <p class="role float-start nav-space">&nbsp;&#x2022;&nbsp;</p>
            <p class="float-start" id="postCounter"></p>
            <p class="float-start nav-space">&nbsp;&#x2022;&nbsp;</p>

            <input id="visibility" type="checkbox" class="form-check-input pointer float-start text-decoration-underline" value="on" onclick="changeVisibility(this)">
            <label for="visibility" class="form-check-label">&nbsp;Lejárt</label>
            
            
            <i onclick="setTheme()" style="float: right !important;" class="fa-sharp fa-solid fa-circle-half-stroke float-end"></i>
            <p class="float-end nav-space">&nbsp;</p>
            <p id="user" class="account float-end">&nbsp;&#x2022;&nbsp;</p>
            <p id="logout-btn" onclick="logout()" class="pointer float-end text-decoration-underline">logout</p>
            <p id="login-btn" onclick="openLoginPopup()" class="pointer float-end text-decoration-underline">login</p>
            
        </div>

       
        <!--body-->
        <table class="table table-hover table-striped table-unbordered">
            <thead class="thead-dark">
                <tr class="trh">
                    <th>ID</th>
                    <th style="width: 100%;">Leírás</th>
                    <th>Határidő&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>&nbsp;</th>
                    <th class="role" >&nbsp;</th>
                    <th class="role" >&nbsp;</th>
                </tr>   
            </thead>
            <tbody id="tbody">
                <!--<tr class="tr w-auto">
                    <td><p>1</p></td>
                    <td><p>szoveg</p></td>
                    <td><p>2022-11-15</p></td>
                    <td><i onclick="download(this)" data-id="id" class="fa-solid fa-download"></i></td>
                    <td><i onclick="openDelPopup(this)" data-id="id" class="fa-solid fa-trash-can"></i></td>
                    <td><i onclick="openEditPopup(this)" data-id="id" class="fa-solid fa-pen"></i></td>
                </tr>-->
            </tbody>
        </table>

        
        
        <a href="/api/docs" target="_blank" class="float-end link">API</a>
        <p class="float-end">&nbsp;&#x2022;&nbsp;</p>
        <a href="https://github.com/PetoKristofIskola/hazifeladat-restapi" target="_blank" class="float-end link">Github</a>
    </div>
    <script src="../static/css/style.js"></script>
</body>




<script src="https://kit.fontawesome.com/e2b9ce2b9c.js" crossorigin="anonymous"></script>
</html>